@font-face {
  font-family: Antonio;
  src: url("fonts/antonio/antonio-regular.ttf");
}
@font-face {
  font-family: Antonio-Light;
  src: url("fonts/antonio/antonio-light.ttf");
}
@font-face {
  font-family: Antonio-Bold;
  src: url("fonts/antonio/antonio-bold.ttf");
}
body {
  background-image: url("79.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
nav ul li a {
  text-decoration: none;
  margin: 0px 5px;
  color: #000;
  font-family: Tahoma;
}
h1 {
  text-align: center;
  font-family: Antonio-Bold;
  font-size: 3em;
}
h2 {
  font-family: Antonio;
}
h3 {
  font-family: Antonio-Light;
  display: block;
}
li {
  list-style-type: none;
  display: inline-block;
}
h2 a {
  text-decoration: none;
  color: #000;
  margin: 0px 5px;
}
a:hover {
  color: #4a86a6;
}
div {
  width: 50%;
  margin: 5px auto;
  border: 1px solid;
  padding: 2px 0px 2px 15px;
  background-color: rgba(248,252,255,0.6);
}
img {
  display: block;
}
#commentLink {
  text-decoration: none;
  font-family: Tahoma;
  color: #000;
}
